<!doctype html>
<html>
<head>
    <title>Treat Your Self</title>
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

     <link rel="stylesheet" href="css/app.css">
     <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.css" />
     <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick-theme.css" />
     <script src="https://unpkg.com/scrollreveal@4.0.0-beta.6"></script>
</head>
<body>

    <header class="site-header">
        <div class="container">
            <div class="header-content">
                <div class="top-menu  scroll-reveal">
                    <div class="menu">
                        <div class="title-bar" data-responsive-toggle="main-nav" data-hide-for="medium">
                            <button class="menu-icon dark" type="button" data-toggle="main-nav"></button>
                            <div class="title-bar-title">Menu</div>
                        </div>

                                    <!-- ====================.Menu Navigation===========================-->
                                    <!-- ====================.Menu Navigation===========================-->
                                    <!-- ====================.Menu Navigation===========================-->
                        <nav id="main-nav" data-animate="menu-in menu-out">
                            <ul class="main-navigation">
                                <li><a class="m-active" href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a></li>
                                <li><a class="m-anim" href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>


                    <!-- ====================.Slider 1===========================-->
                    <!-- ====================.Slider 1===========================-->
                    <!-- ====================.Slider 1===========================-->
        <div class="slider">
            <div class="a-slide slide1">
                <div class="container">
                    <div class="bottom-section scroll-reveal" data-origin="right" data-distance="20%">
                        <h1 class="header-txt">Health really is Wealth</h1>
                        <div class="divider">
                            <?xml version="1.0" encoding="utf-8"?>
                            <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1930 255.5" style="enable-background:new 0 0 1930 255.5;" xml:space="preserve">
                                <style type="text/css">
                                    .st0{fill:none;stroke:#3c3c3c;stroke-width:10;stroke-linecap:square;stroke-miterlimit:10;}
                                </style>
                                <polyline class="st0" points="1224,171.8 1181.3,171.8 1139.2,129.6 1065,203.9 970.5,110.4 876,203.6 801.8,129.4 759.7,171.5
                                    717,171.5 "/>
                                <polyline class="st0" points="5,131.5 757.3,131.5 801.8,176.1 885.9,91.9 868.3,74.2 831.5,111 870.4,149.9 970.2,50.2 1070,149.9
                                    1108.8,111 1072.1,74.2 1054.4,91.9 1138.5,176.1 1183.1,131.5 1925,131.5 "/>
                                <rect x="921.9" y="26.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 231.426 707.2043)" class="st0" width="95" height="95"/>
                                <rect x="921.9" y="99.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 179.8072 728.5855)" class="st0" width="95" height="95"/>
                                <rect x="940.3" y="178.1" transform="matrix(0.7071 -0.7071 0.7071 0.7071 137.3893 746.1556)" class="st0" width="58.2" height="58.2"/>
                                </svg>
                        </div>
                        <!--.divider-->

                    </div>
                    <!--.bottom-section-->
                </div>
            </div>


                        <!-- ====================.Slider 2===========================-->
                        <!-- ====================.Slider 2===========================-->
                        <!-- ====================.Slider 2===========================-->

            <div class="a-slide slide2">
                <div class="container">
                    <div class="bottom-section">
                        <h1 class="header-txt">Health is Wealth</h1>
                        <div class="divider">
                            <?xml version="1.0" encoding="utf-8"?>
                            <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1930 255.5" style="enable-background:new 0 0 1930 255.5;" xml:space="preserve">
                                <style type="text/css">
                                    .st0{fill:none;stroke:#3c3c3c;stroke-width:10;stroke-linecap:square;stroke-miterlimit:10;}
                                </style>
                                <polyline class="st0" points="1224,171.8 1181.3,171.8 1139.2,129.6 1065,203.9 970.5,110.4 876,203.6 801.8,129.4 759.7,171.5
                                    717,171.5 "/>
                                <polyline class="st0" points="5,131.5 757.3,131.5 801.8,176.1 885.9,91.9 868.3,74.2 831.5,111 870.4,149.9 970.2,50.2 1070,149.9
                                    1108.8,111 1072.1,74.2 1054.4,91.9 1138.5,176.1 1183.1,131.5 1925,131.5 "/>
                                <rect x="921.9" y="26.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 231.426 707.2043)" class="st0" width="95" height="95"/>
                                <rect x="921.9" y="99.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 179.8072 728.5855)" class="st0" width="95" height="95"/>
                                <rect x="940.3" y="178.1" transform="matrix(0.7071 -0.7071 0.7071 0.7071 137.3893 746.1556)" class="st0" width="58.2" height="58.2"/>
                                </svg>
                        </div>
                        <!--.divider-->
                    </div>
                    <!--.bottom-section-->
                </div>
            </div>
        </div>

    </header>



                <!-- ====================.Icon Section===========================-->
                <!-- ====================.Icon Section===========================-->
                <!-- ====================.Icon Section===========================-->

    <section class="category-icons">
        <div class="container">
            <div class="yellow-content">
                <div class="icon">
                    <img class="scroll-reveal" data-origin="top" data-distance="20%" src="assets/icon-vege.svg" />
                    <h3 class="scroll-reveal" data-origin="top" data-distance="20%">Farmers Markets</h3>
                    <p class="scroll-reveal" data-distance="0" data-duration="500">A farmers' market is a physical retail marketplace
                        intended to sell foods directly by farmers to consumers.
                    </p>
                </div>
                <div class="icon">
                    <img class="scroll-reveal" data-origin="top" data-distance="20%" src="assets/icon-coffee.svg" />
                    <h3 class="scroll-reveal" data-origin="top" data-distance="20%">Stay Hydrated</h3>
                    <p class="scroll-reveal" data-distance="0" data-duration="700">Being well-hydrated improves sleep quality, cognition, mood, and prevents infections.
                        </p>
                </div>
                <div class="icon">
                    <img class="scroll-reveal" data-origin="top" data-distance="20%" src="assets/icon-sweet.svg" />
                    <h3 class="scroll-reveal" data-origin="top" data-distance="20%">Recipes</h3>
                    <p class="scroll-reveal" data-distance="0" data-duration="900">Following recipes allows more accuracy when planning out meals. Recipes allow us to monitor accurately the nutritional values of meals we prepare.
                    </p>
                </div>
            </div>
            <!--.yellow-content-->
        </div>
        <!--.container-->
    </section>
        </div>
        <!--.container-->
    </section>
    <!--.month-specials-->



                    <!-- ====================.About Section===========================-->
                    <!-- ====================.About Section===========================-->
                    <!-- ====================.About Section===========================-->

    <section id="about-us" class="about">
        <div class="container">
            <div class="about-content">
                <h1 class="header-txt scroll-reveal">About us</h1>
                <div class="divider scroll-reveal">
                    <?xml version="1.0" encoding="utf-8"?>
                    <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1930 255.5" style="enable-background:new 0 0 1930 255.5;" xml:space="preserve">
                                <style type="text/css">
                                    .st0{fill:none;stroke:#3c3c3c;stroke-width:10;stroke-linecap:square;stroke-miterlimit:10;}
                                </style>
                                <polyline class="st0" points="1224,171.8 1181.3,171.8 1139.2,129.6 1065,203.9 970.5,110.4 876,203.6 801.8,129.4 759.7,171.5
                                    717,171.5 "/>
                                <polyline class="st0" points="5,131.5 757.3,131.5 801.8,176.1 885.9,91.9 868.3,74.2 831.5,111 870.4,149.9 970.2,50.2 1070,149.9
                                    1108.8,111 1072.1,74.2 1054.4,91.9 1138.5,176.1 1183.1,131.5 1925,131.5 "/>
                                <rect x="921.9" y="26.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 231.426 707.2043)" class="st0" width="95" height="95"/>
                                <rect x="921.9" y="99.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 179.8072 728.5855)" class="st0" width="95" height="95"/>
                                <rect x="940.3" y="178.1" transform="matrix(0.7071 -0.7071 0.7071 0.7071 137.3893 746.1556)" class="st0" width="58.2" height="58.2"/>
                                </svg>
                </div>
                <!--.divider-->
                <p id="lastSlide" class="scroll-reveal" data-origin="top" data-distance="10%"><i>Treat Yourself!</i> Find recipes and view the nutritional values, allows users to find new ways to cook that recipe they love and stay healthly while doing so.</p>
            </div>
        </div>
        <!--.container-->
    </section>
    <!--.about-->


    <a href="#0" class="cd-top">Top</a>


                    <!-- ====================.Loading Page===========================-->
                    <!-- ====================.Loading Page===========================-->
                    <!-- ====================.Loading Page===========================-->

    <div id="preloader">
        <div class="loader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/5.0.2/what-input.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.js"></script>
    <script src="js/app.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.js"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>



                    <!-- ====================.Slider JQuery===========================-->
                    <!-- ====================.Slider JQuery===========================-->
                    <!-- ====================.Slider JQuery===========================-->
    <script type="text/javascript">
        $('.slider').slick({
            infinite: true,
            autoplay: true,
            autoplaySpeed: 3500,
            arrows: false,
            fade: true,
            cssEase: 'linear'
        });

    </script>



                    <!-- ====================.Loading JQuery===========================-->
                    <!-- ====================.Loading JQuery===========================-->
                    <!-- ====================.Loading JQuery===========================-->
    <script>
        $(window).on('load', function() {
            $("#preloader").fadeOut();
        });
    </script>
</body>
</html>
