<!doctype html>
<html>
<head>
    <title>Treat Your Self</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick-theme.css" />
     <script src="https://unpkg.com/scrollreveal@4.0.0-beta.6"></script> 
 </head>
<body>
  <a href="/profile">saved recipes</a>
    <input type="text">
    <button class="search">submit</button> 
    <!-- print out table with api info for recipes. have html template
    ready to copy into javascript "boot strap complex nasa api" -->
    <!-- print html for recipe into table  -->
    <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Recipe Name</th>
            <th scope="col">calories</th>
            <th scope="col">ingredients</th>
            <th scope="col">meal type</th>
            <th scope="col">cuisine type</th>
            <th scope="col">Star</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
<script type="text/javascript" src="/js/main.js"></script>
</body>

</html>

<!-- my apis that ill be using are as follows
-https://organic.ams.usda.gov/integrity/Developer/APIHelp.aspx #key 4AZC8vS11dLSSbBFArzdsN0ctmPF3U3xJoSh6eMY
organic integrity api
-https://search.ams.usda.gov/farmersmarkets/v1/svcdesc.html farmers market api

-https://developer.edamam.com/food-database-api whole foods api
-
-
-->
<!-- if statement to seperate user -->