<!doctype html>
<html>
<head>
    <title>Treat Your Self</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick-theme.css" />
     <script src="https://unpkg.com/scrollreveal@4.0.0-beta.6"></script>
 </head>
<body>
  <header class="site-header">
      <div class="container">
          <div class="header-content">
              <div class="top-menu  scroll-reveal">
                  <div class="menu">
                      <div class="title-bar" data-responsive-toggle="main-nav" data-hide-for="medium">
                          <button class="menu-icon dark" type="button" data-toggle="main-nav"></button>
                          <div class="title-bar-title">Menu</div>
                      </div>

                      <nav id="main-nav" data-animate="menu-in menu-out">
                          <ul class="main-navigation">
                              <li><a class="m-anim" href="/profile" class="btn btn-default">Profile</a></li>
                              <li><a class="m-anim" href="/logout" class="btn btn-default">Log-Out</a></li>
                          </ul>
                      </nav>
                  </div>
              </div>
          </div>
      </div>

      <footer id="contact-us">
          <div class="container">
              <div class="footer-content">
                <br>
                <br>
                <br>
                  <h1 class="header-txt scroll-reveal">Search for Recipes</h1>
                  <div class="divider scroll-reveal">
                      <?xml version="1.0" encoding="utf-8"?>
                      <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1930 255.5" style="enable-background:new 0 0 1930 255.5;" xml:space="preserve">
                                  <style type="text/css">
                                      .st0{fill:none;stroke:#3c3c3c;stroke-width:10;stroke-linecap:square;stroke-miterlimit:10;}
                                  </style>
                                  <polyline class="st0" points="1224,171.8 1181.3,171.8 1139.2,129.6 1065,203.9 970.5,110.4 876,203.6 801.8,129.4 759.7,171.5
                                      717,171.5 "/>
                                  <polyline class="st0" points="5,131.5 757.3,131.5 801.8,176.1 885.9,91.9 868.3,74.2 831.5,111 870.4,149.9 970.2,50.2 1070,149.9
                                      1108.8,111 1072.1,74.2 1054.4,91.9 1138.5,176.1 1183.1,131.5 1925,131.5 "/>
                                  <rect x="921.9" y="26.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 231.426 707.2043)" class="st0" width="95" height="95"/>
                                  <rect x="921.9" y="99.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 179.8072 728.5855)" class="st0" width="95" height="95"/>
                                  <rect x="940.3" y="178.1" transform="matrix(0.7071 -0.7071 0.7071 0.7071 137.3893 746.1556)" class="st0" width="58.2" height="58.2"/>
                                  </svg>
                  </div>
                  <!--.divider-->
                  <!--.contact-info-->
                  <div class="contact-form scroll-reveal" data-origin="bottom" data-distance="20%">
                      <h3></h3>

                        <input type="text" placeholder="Search for delicious treats">
                        <button type="button" class="btn btn-outline-dark send-form search text-center" style="margin-left:37%; margin-bottom:10%; " >Submit Search</button>
                  </div>
              </div>
          </div>
          <!--.container-->
      </footer>

  </header>
    <!-- print out table with api info for recipes. have html template
    ready to copy into javascript "boot strap complex nasa api" -->
    <!-- print html for recipe into table  -->

    <section id="specials-grid" class="month-specials" data-scroll-reveal="enter from the bottom after 0.9s">
      <div class="container">


            <!-- ====================.RecipeList===========================-->
            <!-- ====================.RecipeList===========================-->
            <!-- ====================.RecipeList===========================-->

          <div id="Menu" class="specials-content">

          </div>
          <!--.specials-content-->
      </div>
      <!--.container-->
  </section>



      <div id="preloader">
          <div class="loader">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
          </div>
      </div>
<script type="text/javascript" src="/js/main.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/5.0.2/what-input.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.js"></script>
<script src="js/app.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.js"></script>
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


    <script type="text/javascript">
        $('.slider').slick({
            infinite: true,
            autoplay: true,
            autoplaySpeed: 3500,
            arrows: false,
            fade: true,
            cssEase: 'linear'
        });

    </script>

<script>
    $(window).on('load', function() {
        $("#preloader").fadeOut();
    });
</script>
</body>

</html>

<!-- my apis that ill be using are as follows
-https://organic.ams.usda.gov/integrity/Developer/APIHelp.aspx #key 4AZC8vS11dLSSbBFArzdsN0ctmPF3U3xJoSh6eMY
organic integrity api
-https://search.ams.usda.gov/farmersmarkets/v1/svcdesc.html farmers market api

-https://developer.edamam.com/food-database-api whole foods api
-
-
-->
<!-- if statement to seperate user -->
